html {
    background-color:rgba(0, 0, 0, 0.548);
}

a
{
    color:blue
}

h1
{
    color:rgba(255, 255, 0, 0.788)
}

h2
{
    color:rgba(255, 255, 0, 0.788)
}
h3
{
    color:rgba(255, 255, 0, 0.788)
}
p1
{
    color:blue
}